*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Fira Sans";
  font-weight: lighter;
  font-size: 62.5%;
  height: 100%;
  background: rgba(39,53,74,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(39,53,74,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(39,53,74,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(39,53,74,1) 0%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(39,53,74,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(39,53,74,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(39,53,74,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27354a', endColorstr='#000000', GradientType=1 );
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input, button {
  outline: none;
  border: none;
}
.cont {
  position: relative;
  height: 100%;
  overflow: auto;
  font-family: "Fira Sans";
}

.login {
  position: absolute;
  width:100%;
  margin-top: 6.5rem;
}

.list {
  position: relative;
  background: rgba(44,55,64,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(44,55,64,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(44,55,64,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(44,55,64,1) 0%, rgba(0,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(44,55,64,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(44,55,64,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(44,55,64,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3740', endColorstr='#000000', GradientType=1 );
  border: 2px #202c3e solid;
  width:100%;
  padding-top: 1.2rem;
  padding-bottom:0.1rem;
  padding-left: 8rem;
  text-align: left;
}

#second {
  display: inline-block;
}


.app.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app.active .app__user-photo {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app.active .app__meeting {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.app.active .app__logout {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app__top {
  position: relative;
  width:100%;
  text-align: center;
}

.app__menu-btn {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 1.8rem;
  height: 1.7rem;
  cursor: pointer;
}
.app__menu-btn span, .app__menu-btn:before, .app__menu-btn:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
}
.app__menu-btn span {
  top: 0.8rem;
}
.app__menu-btn:before {
  content: "";
  top: 0;
}
.app__menu-btn:after {
  content: "";
  bottom: 0;
}
.app__icon {
  position: absolute;
  top: 2rem;
}

.icon {
  width: 50%;
}
.app__icon.search {
  right: 1.5rem;
  stroke-dasharray: 61.847137451171875;
  stroke-dashoffset: 61.847137451171875;
  -webkit-animation: animatePath 0.5s 0.5s forwards;
          animation: animatePath 0.5s 0.5s forwards;
}
.app__hello {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}
.app__user {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
}
.app__iconz {
  position: relative;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
}
.app__user-photo {
  width: 100%;
  border: 0.5rem solid #fff;
  border-radius: 50%;
}
.app__user-notif {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  text-align: center;
  background: #50D2C2;
  color: #fff;
  font-size: 1.5rem;
}
.app__logout {
  position: absolute;
  top:-9%;
  right: 2.5%;
  width:6%;
}
.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animRipple 0.4s;
          animation: animRipple 0.4s;
  border-radius: 50%;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
.search {
  background-color: transparent;
  margin-top: 1.5rem;
  height: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 90%;
}
#categories {
     font-size: 2.5rem;
     font-family: "Fira Sans";
     font-weight: lighter;
     font-color: #fff;
     text-align: left;
     padding-left: 1rem;
}

#categories, #categories:hover, #categories:active, #categories:visited {
    text-decoration:none;
}

.clicked {
    background: #000;
    opacity: 0.2;
}

.ind {
  position: absolute;
  height: 100%;
  width: 50%;
  border: 10px #000;
  margin: 0;
  background: red;
}

.club {
  position: absolute;
  margin-left: 50%;
  height: 100%;
  background: black;
  border: 10px #000;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
  margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
  /* Colors are in hexadecimal: http://www.colorpicker.com/ */  
  color: #CC00AA;
}

.alert {
  display: none;
}
